<div class="container">
    <div class="row">
        <div class="col-lg-6 request-into-room">
            <div>
                <span class="fs-24">Yêu cầu vào phòng</span>
            </div>
            <ul>
            </ul>
        </div>
    </div>
</div>