<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <section class="infor-member">
                <div>
                    <span class="header fs-24">Thông tin thành viên</span>
                    <div class="remain-money-room">
                        <span class="fs-20">Tổng tiền phòng: <b></b></span>
                    </div>
                    <label for="member">Chọn thành viên:</label>
                    <select name="member" id="member">
                    </select>
                    <div class="remain-money-member">
                        <span class="fs-20">Số tiền còn lại: <b></b></span>
                    </div>
                    <ul class="history-recharge-withdraw">
                    </ul>
                </div>
            </section>
            <div class="show-more">
                <button class="fs-20" onclick="cancelClick(this)">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <a href="./recharge-money">Xem Thêm</a>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <section class="infor-order">
                <div>
                    <span class="header fs-24">Thông tin sử dụng tiền</span>
                    <ul class="history-purchase">
                    </ul>
                </div>
            </section>
            <div class="show-more">
                <button class="fs-20" onclick="cancelClick(this)">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <a href="./purchase">Xem Thêm</a>
                </button>
            </div>
        </div>
    </div>
</div>