<div class="container" id="history-recharge-withdraw">
    <div class="row">
        <section class="table-recharge for-computer col-lg-7">
            <div id="utilities-recharge" class="no-selection">
                <section class="utilities-add">
                    <span class="fs-18" onclick="openModal('recharge')">Nạp tiền</span>
                </section>
                <section class="utilities-withdraw-money">
                    <span class="fs-18" onclick="openModal('withdraw')">Rút tiền</span>
                </section>
            </div>
            <div class="history-recharge-withdraw-table">
                <span class="no-selection fs-24">Lịch sử nạp/rút tiền</span>
                <div class="money-cur">
                    <span class="fs-20">Số tiền hiện tại: <b></b></span>
                </div>
                <ul class="history-recharge-withdraw p-0">
                </ul>
            </div>
        </section>
        <section class="arrow-change no-selection col-lg-1">
            <i class="fa-solid fa-arrow-left-long"></i>
        </section>
        <section class="history-recharge-withdraw-filter col-lg-4">
            <div class="header">
                <span class="no-selection fs-24">Lọc lịch sử</span>
            </div>
            <div>
                <label for="select-your-choose">Bạn muốn lọc theo:</label>
                <select id="select-your-choose">
                    <option value="all">Lịch sử nạp và rút</option>
                    <option value="recharge">Lịch sử nạp</option>
                    <option value="withdraw">Lịch sử rút</option>
                </select>
            </div>
            <div class="form-filter">
                <div>
                    <label for="day-begin" class="no-selection fs-16">Bắt đầu từ: </label>
                    <input type="datetime-local" id="day-begin">
                </div>
                <div>
                    <label for="day-finish" class="no-selection fs-16">Kết thúc vào: </label>
                    <input type="datetime-local" id="day-finish">
                </div>
                <span class="error-search fs-16" style="color: red"></span>
                <div class="no-selection confirm-filter">
                    <button class="fs-18"  onclick="cancelClick(this)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </section>
        <section class="table-recharge for-mobile col-lg-7">
            <div id="utilities-recharge" class="no-selection">
                <section class="utilities-add">
                    <span class="fs-18" onclick="openModal('recharge')">Nạp tiền</span>
                </section>
                <section class="utilities-withdraw-money">
                    <span class="fs-18" onclick="openModal('withdraw')">Rút tiền</span>
                </section>
            </div>
            <div class="history-recharge-withdraw-table">
                <span class="no-selection fs-24">Lịch sử nạp/rút tiền</span>
                <div class="money-cur">
                    <span class="fs-20">Số tiền hiện tại: <b></b></span>
                </div>
                <ul class="history-recharge-withdraw p-0">
                </ul>
            </div>
        </section>
    </div>
</div>