<div class="container">
    <div class="row">
        <section class="infor-member col-lg-6">
            <div>
                <h2>Thông tin thành viên</h1>
                <div class="remain-money-room">
                    <h4>Tổng tiền phòng: <b></b></h4>
                </div>
                <label for="member">Chọn thành viên:</label>
                <select name="member" id="member">
                </select>
                <div class="remain-money-member">
                    <h4>Số tiền còn lại: <b></b></h4>
                </div>
                <ul class="history-recharge-withdraw">
                </ul>
            </div>
        </section>
        <section class="infor-order col-lg-6">
            <div>
                <h2>Thông tin sử dụng tiền</h1>
                <ul class="history-purchase m-0">
                </ul>
            </div>
        </section>
    </div>
</div>