<!-- Model đẩy server -->
<div class="model-up-server" data-open="0">
    <div class="blur-screen"></div>
    <div class="model-main">
        <div class="container">
            <div class="model-header">
                <span class="fs-24"></span>
            </div>
            <div class="model-main-main">
                <input type="text" placeholder="Nhập số tiền nạp">
            </div>
            <div class="model-footer">
                <button class="model-cancel" type="button" onclick="closeModelUpServer()">Hủy</button>
                <button class="model-confirm" type="button">Đồng ý</button>
            </div>
        </div>
    </div>
</div>