<nav>
    <div id="name-room" class="center-box">
        <h1>Phòng 303</h1>
    </div>
    <ul id="menu" class="no-selection">
        <li class="home">
            <span></span>
            <a href="/">
                <i class="fa-solid fa-house"></i>
                <span>Trang Chủ</span>
            </a>
        </li>
        <li class="recharge-money">
            <span></span>
            <a href="/recharge-money">
                <i class="fa-solid fa-piggy-bank"></i>
                <span>Nạp Tiền</span>
            </a>
        </li>
        <li class="purchase">
            <span></span>
            <a href="/purchase">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Lịch Sử Mua Hàng</span>
            </a>
        </li>
        <li>
            <span></span>
            <a href="/information-member">
                <i class="fa-solid fa-user"></i>
                <span>Thay Đổi Thông Tin</span>
            </a>
        </li>
        <li>
            <span></span>
            <a href="/guide">
                <i class="fa-solid fa-book"></i>
                <span>Hướng dẫn sử dụng</span>
            </a>
        </li>
    </ul>
    <div class="no-selection">
        <a href="/login">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log Out</span>
        </a>
    </div>
</nav>