.center-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.no-selection {
  user-select: none; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-24 {
  font-size: 24px; }

.fs-28 {
  font-size: 28px; }

.fs-32 {
  font-size: 32px; }

:root {
  --border-color: #cccccc6e;
  --border-blur-color: #000;
  --color-primary: #9a68d4;
  --color-bg-dark: #282a36;
  --color-text-dark: #dedede;
  --bg-blur: rgba(255, 255, 225, 0.05);
  --bg-blur-strong: rgba(255, 255, 225, 0.1); }

header {
  margin-left: 360px;
  border-bottom: 1px solid var(--border-color);
  height: 80px; }
  header > div {
    height: 100%;
    margin-right: 16px;
    margin-left: 16px; }
    header > div #bars-for-mobile {
      display: none; }
    header > div #pages {
      flex: 1;
      user-select: none;
      font-family: 'Albert Sans', sans-serif; }
      header > div #pages h1 {
        text-align: center;
        height: 100%;
        margin: 0; }
    header > div #notify, header > div #light-or-dark {
      width: 100px; }
      header > div #notify div, header > div #light-or-dark div {
        width: 52px;
        height: 52px;
        border-radius: 8px;
        background-color: var(--bg-blur);
        position: relative; }
        header > div #notify div i, header > div #light-or-dark div i {
          font-size: 24px;
          color: var(--color-text-dark); }
      header > div #notify div:hover, header > div #light-or-dark div:hover {
        cursor: pointer; }
    header > div #light-or-dark i:first-child {
      display: none; }
    header > div #light-or-dark i:last-child {
      display: none; }
    header > div #light-or-dark .dark i:first-child {
      display: block; }
    header > div #light-or-dark .dark i:last-child {
      display: none; }
    header > div #light-or-dark .light i:first-child {
      display: none; }
    header > div #light-or-dark .light i:last-child {
      display: block; }
    header > div #notify span {
      width: 16px;
      height: 16px;
      font-size: 11px;
      border-radius: 50%;
      text-align: center;
      background-color: var(--color-primary);
      position: absolute;
      right: 8px;
      top: 8px; }
    header > div #notify, header > div #intro-member, header > div #light-or-dark {
      height: 100%;
      border-left: 1px solid var(--border-color); }
    header > div #intro-member {
      margin-right: 0.5rem;
      width: 256px; }
      header > div #intro-member span {
        flex: 3;
        font-size: 20px;
        margin-right: 12px;
        font-weight: 500;
        text-align: center; }
      header > div #intro-member div.avatar {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center; }
        header > div #intro-member div.avatar div {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          border-radius: 50%;
          overflow: hidden; }
        header > div #intro-member div.avatar img {
          max-width: 100%;
          height: auto; }

@media screen and (max-width: 992px) {
  header {
    margin-left: 270px; }
  header div #intro-member {
    width: 150px; }
    header div #intro-member span {
      flex: 3;
      font-size: 16px; }
    header div #intro-member div.avatar {
      flex: 2; } }

@media screen and (max-width: 420px) {
  body {
    position: relative; }
  header {
    margin-left: 0;
    height: 58px; }
    header > div {
      margin-left: 8px;
      margin-right: 8px; }
      header > div > div {
        margin: 0; }
      header > div #bars-for-mobile {
        flex: 1;
        display: flex;
        align-items: center;
        border-right: 1px solid var(--border-color);
        height: 100%; }
        header > div #bars-for-mobile > div {
          display: flex;
          align-items: center;
          transform: translateX(4px); }
          header > div #bars-for-mobile > div i {
            font-size: 36px; }
        header > div #bars-for-mobile #bur-for-mobile {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: 5; }
        header > div #bars-for-mobile #nav-for-mobile {
          padding: 0;
          position: fixed;
          background-color: var(--color-bg-dark);
          top: 0;
          right: 40%;
          left: 0;
          bottom: 0;
          margin: 0;
          z-index: 5;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          header > div #bars-for-mobile #nav-for-mobile .title {
            display: flex;
            font-size: 30px;
            align-items: center;
            height: 58px; }
            header > div #bars-for-mobile #nav-for-mobile .title span {
              flex: 1;
              font-weight: bold;
              font-size: 24px;
              text-align: center; }
            header > div #bars-for-mobile #nav-for-mobile .title i {
              margin-right: 16px; }
          header > div #bars-for-mobile #nav-for-mobile .logout {
            margin-bottom: 24px; }
          header > div #bars-for-mobile #nav-for-mobile a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--color-text-dark); }
            header > div #bars-for-mobile #nav-for-mobile a i {
              margin-left: 12px; }
            header > div #bars-for-mobile #nav-for-mobile a > span {
              margin-left: 8px; }
          header > div #bars-for-mobile #nav-for-mobile a:hover {
            background-color: var(--bg-blur); }
          header > div #bars-for-mobile #nav-for-mobile li {
            position: relative;
            display: flex;
            align-items: center;
            height: 48px; }
            header > div #bars-for-mobile #nav-for-mobile li > span {
              display: none;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              width: 12px;
              background: linear-gradient(to right, var(--color-primary), var(--bg-blur)); }
          header > div #bars-for-mobile #nav-for-mobile li.running-page > span {
            display: block; }
          header > div #bars-for-mobile #nav-for-mobile li.running-page > a {
            color: var(--color-primary); }
      header > div #bars-for-mobile.close > #bur-for-mobile {
        display: none; }
      header > div #bars-for-mobile.close > #nav-for-mobile {
        display: none; }
      header > div #pages {
        flex: 6; }
      header > div #light-or-dark, header > div #notify, header > div #intro-member {
        display: none; }
      header > div #intro-member {
        flex: 1;
        margin-right: 0; }
        header > div #intro-member span {
          display: none; }
        header > div #intro-member div.avatar {
          transform: translateX(4px); }
          header > div #intro-member div.avatar div {
            margin: 0; }
  > div {
    margin-left: 8px;
    margin-right: 8px; } }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  position: fixed;
  border-right: 1px solid var(--border-color);
  min-height: 100vh; }
  nav a {
    text-decoration: none;
    color: var(--color-text-dark);
    padding: 0 24px 0 24px;
    font-size: 20px;
    font-weight: 500; }
    nav a span {
      margin-left: 12px; }
  nav a:hover {
    color: var(--color-text-dark); }
  nav #name-room {
    margin-top: 32px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    display: flex;
    flex-direction: column; }
    nav #name-room h1 {
      text-align: center; }
  nav #menu {
    margin: 0;
    padding: 0; }
    nav #menu li {
      margin: 4px 0 4px 0;
      list-style: none;
      height: 60px;
      display: flex;
      align-items: center;
      position: relative; }
      nav #menu li > span {
        display: none;
        position: absolute;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 12px;
        background: linear-gradient(to right, var(--color-primary), var(--bg-blur)); }
      nav #menu li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 8px; }
      nav #menu li a:hover {
        background-color: var(--bg-blur); }
    nav #menu li.running-page > span {
      display: block; }
    nav #menu li.running-page > a {
      color: var(--color-primary); }
  nav > div {
    margin-bottom: 24px; }

@media screen and (max-width: 992px) {
  nav {
    width: 270px; } }

@media screen and (max-width: 420px) {
  nav {
    display: none; } }

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  box-sizing: border-box; }

main {
  margin-left: 360px; }
  main > div {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    /* Track */
    /* Handle */
    /* Handle on hover */
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    main > div .date-time {
      margin-top: 12px;
      display: flex;
      justify-content: end;
      align-items: center;
      height: 36px; }
      main > div .date-time span {
        font-weight: 500; }
    main > div .container {
      margin-top: 12px;
      padding-right: 0;
      padding-left: 0; }
    main > div span.header {
      text-align: center;
      margin-top: 12px;
      font-weight: 500; }
    main > div li {
      list-style: none;
      background-color: var(--bg-blur-strong);
      border-radius: 8px;
      margin-bottom: 12px; }
    main > div p {
      font-size: 20px;
      margin: 0; }
    main > div section {
      background-color: var(--bg-blur);
      border-radius: 8px;
      height: 520px;
      overflow: auto; }
    main > div ul {
      padding: 0 12px 0 12px;
      margin: 16px 0 0 0; }
    main > div ul.history-purchase {
      flex: 1; }
      main > div ul.history-purchase > div {
        margin-top: 54px;
        text-align: center; }
    main > div div.show-more {
      display: flex;
      justify-content: center; }
      main > div div.show-more button {
        margin-top: 16px;
        background-color: transparent;
        padding: 8px 12px 8px 12px;
        border-radius: 8px;
        outline: none;
        border: none; }
        main > div div.show-more button a {
          text-decoration: none;
          width: 100%;
          color: var(--color-text-dark); }
      main > div div.show-more button:hover {
        background-color: var(--bg-blur); }
        main > div div.show-more button:hover a {
          color: var(--color-primary); }
    main > div .infor-member {
      overflow: auto; }
      main > div .infor-member > div {
        height: 100%;
        display: flex;
        flex-direction: column; }
        main > div .infor-member > div > div {
          margin-top: 12px;
          margin-right: 12px;
          display: flex;
          justify-content: end; }
        main > div .infor-member > div .remain-money-member {
          margin-top: 12px; }
      main > div .infor-member label, main > div .infor-member select {
        margin: 0 12px 0 12px; }
      main > div .infor-member label {
        margin-top: 12px; }
      main > div .infor-member .history-recharge-withdraw {
        margin: 12px 0 0 0; }
        main > div .infor-member .history-recharge-withdraw li {
          padding: 8px 12px 8px 12px; }
    main > div .infor-member::-webkit-scrollbar {
      width: 8px; }
    main > div .infor-member::-webkit-scrollbar-track {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px; }
    main > div .infor-member::-webkit-scrollbar-thumb {
      background: var(--bg-blur);
      border-radius: 6px; }
    main > div .infor-member::-webkit-scrollbar-thumb:hover {
      background: var(--bg-blur-strong); }
    main > div .infor-order::-webkit-scrollbar {
      width: 8px; }
    main > div .infor-order::-webkit-scrollbar-track {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px; }
    main > div .infor-order::-webkit-scrollbar-thumb {
      background: var(--bg-blur);
      border-radius: 6px; }
    main > div .infor-order::-webkit-scrollbar-thumb:hover {
      background: var(--bg-blur-strong); }
    main > div .infor-order > div {
      height: 100%;
      display: flex;
      flex-direction: column; }
    main > div .infor-order ul li .sumary-order {
      display: flex;
      align-items: center;
      padding: 8px;
      cursor: pointer; }
    main > div .infor-order ul li .detail-order {
      border-top: 1px solid var(--border-color);
      overflow: hidden;
      padding: 8px; }
    main > div .infor-order ul li span {
      display: block; }
    main > div .infor-order ul li i {
      margin: 0 8px 0 12px; }
    main > div .infor-order ul li.up i.fa-chevron-down {
      display: none; }
    main > div .infor-order ul li.down i.fa-angle-up {
      display: none; }
    main > div .infor-order ul li.sumary .detail-order {
      display: none; }
    main > div .infor-order ul li.detail .detail-order {
      display: block;
      padding: 8px; }

@media screen and (max-width: 992px) {
  main {
    margin-left: 270px; } }

@media screen and (max-width: 420px) {
  h2 {
    font-size: 18px; }
  h4 {
    font-size: 16px; }
  main {
    margin-left: 0; }
    main > div {
      margin-left: 8px;
      margin-right: 8px; }
      main > div .date-time {
        height: 32px; } }

@media screen and (min-width: 992px) {
  .infor-order {
    flex: 1; } }

@media screen and (max-width: 992px) {
  .infor-order {
    margin: 16px 0 8px 0; }
  main > div .infor-member::-webkit-scrollbar {
    width: 4px; }
  main > div .infor-order::-webkit-scrollbar {
    width: 4px; }
  main > div section {
    height: max-content; } }

/*# sourceMappingURL=home.css.map */