.center-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.no-selection {
  user-select: none; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-24 {
  font-size: 24px; }

.fs-28 {
  font-size: 28px; }

.fs-32 {
  font-size: 32px; }

:root {
  --border-color: #cccccc6e;
  --border-blur-color: #000;
  --color-primary: #9a68d4;
  --color-bg-dark: #282a36;
  --color-text-dark: #dedede;
  --bg-blur: rgba(255, 255, 225, 0.05);
  --bg-blur-strong: rgba(255, 255, 225, 0.1);
  --bg-blur-screen: rgba(0, 0, 0, 0.5); }

header {
  margin-left: 360px;
  border-bottom: 1px solid var(--border-color);
  height: 80px; }
  header > div {
    height: 100%;
    margin-right: 16px;
    margin-left: 16px; }
    header > div #bars-for-mobile {
      display: none; }
    header > div #pages {
      flex: 1;
      user-select: none;
      font-family: 'Albert Sans', sans-serif; }
      header > div #pages h1 {
        text-align: center;
        height: 100%;
        margin: 0; }
    header > div #notify, header > div #light-or-dark {
      width: 100px; }
      header > div #notify div, header > div #light-or-dark div {
        width: 52px;
        height: 52px;
        border-radius: 8px;
        background-color: var(--bg-blur);
        position: relative; }
        header > div #notify div i, header > div #light-or-dark div i {
          font-size: 24px;
          color: var(--color-text-dark); }
      header > div #notify div:hover, header > div #light-or-dark div:hover {
        cursor: pointer; }
    header > div #light-or-dark i:first-child {
      display: none; }
    header > div #light-or-dark i:last-child {
      display: none; }
    header > div #light-or-dark .dark i:first-child {
      display: block; }
    header > div #light-or-dark .dark i:last-child {
      display: none; }
    header > div #light-or-dark .light i:first-child {
      display: none; }
    header > div #light-or-dark .light i:last-child {
      display: block; }
    header > div #notify span {
      width: 16px;
      height: 16px;
      font-size: 11px;
      border-radius: 50%;
      text-align: center;
      background-color: var(--color-primary);
      position: absolute;
      right: 8px;
      top: 8px; }
    header > div #notify, header > div #intro-member, header > div #light-or-dark {
      height: 100%;
      border-left: 1px solid var(--border-color); }
    header > div #intro-member {
      margin-right: 0.5rem;
      width: 256px; }
      header > div #intro-member span {
        flex: 3;
        font-size: 20px;
        margin-right: 12px;
        font-weight: 500;
        text-align: center; }
      header > div #intro-member div.avatar {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center; }
        header > div #intro-member div.avatar div {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          border-radius: 50%;
          overflow: hidden; }
        header > div #intro-member div.avatar img {
          max-width: 100%;
          height: auto; }

@media screen and (max-width: 992px) {
  header {
    margin-left: 270px; }
  header div #intro-member {
    width: 150px; }
    header div #intro-member span {
      flex: 3;
      font-size: 16px; }
    header div #intro-member div.avatar {
      flex: 2; } }

@media screen and (max-width: 420px) {
  header {
    margin-left: 0;
    height: 58px; }
    header > div {
      margin-left: 8px;
      margin-right: 8px; }
      header > div > div {
        margin: 0; }
      header > div #bars-for-mobile {
        flex: 1;
        display: flex;
        align-items: center;
        border-right: 1px solid var(--border-color);
        height: 100%; }
        header > div #bars-for-mobile > div {
          display: flex;
          align-items: center;
          transform: translateX(4px); }
          header > div #bars-for-mobile > div i {
            font-size: 36px; }
        header > div #bars-for-mobile #bur-for-mobile {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: 5; }
        header > div #bars-for-mobile #nav-for-mobile {
          padding: 0;
          position: fixed;
          background-color: var(--color-bg-dark);
          top: 0;
          right: 40%;
          left: 0;
          bottom: 0;
          margin: 0;
          z-index: 5;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          header > div #bars-for-mobile #nav-for-mobile .title {
            display: flex;
            font-size: 30px;
            align-items: center;
            height: 58px; }
            header > div #bars-for-mobile #nav-for-mobile .title span {
              flex: 1;
              font-weight: bold;
              font-size: 24px;
              text-align: center; }
            header > div #bars-for-mobile #nav-for-mobile .title i {
              margin-right: 16px; }
          header > div #bars-for-mobile #nav-for-mobile .logout {
            margin-bottom: 24px; }
          header > div #bars-for-mobile #nav-for-mobile a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--color-text-dark); }
            header > div #bars-for-mobile #nav-for-mobile a i {
              margin-left: 12px; }
            header > div #bars-for-mobile #nav-for-mobile a > span {
              margin-left: 8px; }
          header > div #bars-for-mobile #nav-for-mobile a:hover {
            background-color: var(--bg-blur); }
          header > div #bars-for-mobile #nav-for-mobile li {
            position: relative;
            display: flex;
            align-items: center;
            height: 48px; }
            header > div #bars-for-mobile #nav-for-mobile li > span {
              display: none;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              width: 12px;
              background: linear-gradient(to right, var(--color-primary), var(--bg-blur)); }
          header > div #bars-for-mobile #nav-for-mobile li.running-page > span {
            display: block; }
          header > div #bars-for-mobile #nav-for-mobile li.running-page > a {
            color: var(--color-primary); }
      header > div #bars-for-mobile.close > #bur-for-mobile {
        display: none; }
      header > div #bars-for-mobile.close > #nav-for-mobile {
        display: none; }
      header > div #pages {
        flex: 6; }
      header > div #light-or-dark, header > div #notify, header > div #intro-member {
        display: none; }
      header > div #intro-member {
        flex: 1;
        margin-right: 0; }
        header > div #intro-member span {
          display: none; }
        header > div #intro-member div.avatar {
          transform: translateX(4px); }
          header > div #intro-member div.avatar div {
            margin: 0; }
  > div {
    margin-left: 8px;
    margin-right: 8px; } }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  position: fixed;
  border-right: 1px solid var(--border-color);
  min-height: 100vh; }
  nav a {
    text-decoration: none;
    color: var(--color-text-dark);
    padding: 0 24px 0 24px;
    font-size: 20px;
    font-weight: 500; }
    nav a span {
      margin-left: 12px; }
  nav a:hover {
    color: var(--color-text-dark); }
  nav #name-room {
    margin-top: 32px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    display: flex;
    flex-direction: column; }
    nav #name-room h1 {
      text-align: center; }
  nav #menu {
    margin: 0;
    padding: 0; }
    nav #menu li {
      margin: 4px 0 4px 0;
      list-style: none;
      height: 60px;
      display: flex;
      align-items: center;
      position: relative; }
      nav #menu li > span {
        display: none;
        position: absolute;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 12px;
        background: linear-gradient(to right, var(--color-primary), var(--bg-blur)); }
      nav #menu li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 8px; }
      nav #menu li a:hover {
        background-color: var(--bg-blur); }
    nav #menu li.running-page > span {
      display: block; }
    nav #menu li.running-page > a {
      color: var(--color-primary); }
  nav > div {
    margin-bottom: 24px; }

@media screen and (max-width: 992px) {
  nav {
    width: 270px; } }

@media screen and (max-width: 420px) {
  nav {
    display: none; } }

.model-up-server[data-open='0'], .model-notify[data-open='0'] {
  display: none; }

.model-up-server[data-open='1'], .model-notify[data-open='1'] {
  display: block; }

.model-up-server .blur-screen, .model-notify .blur-screen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg-blur-screen); }

.model-up-server .model-main, .model-notify .model-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .model-up-server .model-main .container, .model-notify .model-main .container {
    width: 580px;
    background-color: var(--color-bg-dark);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.2);
    border: 1px solid var(--border-color); }
    .model-up-server .model-main .container div, .model-notify .model-main .container div {
      padding: 8px 0 8px 0; }
    .model-up-server .model-main .container .model-header, .model-notify .model-main .container .model-header {
      text-align: center; }
    .model-up-server .model-main .container .model-main-main, .model-notify .model-main .container .model-main-main {
      border-top: 1px solid var(--border-color); }
      .model-up-server .model-main .container .model-main-main input, .model-notify .model-main .container .model-main-main input {
        width: 70%;
        margin-top: 4px;
        padding: 4px 8px 4px 8px;
        background-color: var(--bg-blur-strong);
        border: none;
        border-radius: 4px;
        outline: none;
        color: var(--color-text-dark); }
    .model-up-server .model-main .container .model-footer, .model-notify .model-main .container .model-footer {
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: end; }
      .model-up-server .model-main .container .model-footer button, .model-notify .model-main .container .model-footer button {
        border: 1px solid var(--border-color);
        border-radius: 4px;
        background-color: transparent;
        color: var(--color-text-dark);
        padding: 4px 12px; }
      .model-up-server .model-main .container .model-footer button:hover, .model-notify .model-main .container .model-footer button:hover {
        background-color: var(--bg-blur);
        color: var(--color-primary); }

.model-up-server ::-webkit-input-placeholder, .model-notify ::-webkit-input-placeholder {
  color: #ccc; }

.model-up-server :-moz-placeholder, .model-notify :-moz-placeholder {
  /* FF 4-18 */
  color: #ccc; }

.model-up-server ::-moz-placeholder, .model-notify ::-moz-placeholder {
  /* FF 19+ */
  color: #ccc; }

.model-up-server :-ms-input-placeholder, .model-notify :-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc; }

.model-up-server ::-ms-input-placeholder, .model-notify ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc; }

.model-up-server ::placeholder, .model-notify ::placeholder {
  /* modern browser */
  color: #ccc; }

.model-up-server .model-footer :first-child {
  margin-right: 12px; }

@media screen and (max-width: 420px) {
  .model-up-server .model-main .container {
    margin: 0 8px 0 8px; } }

[onclick="cancelClick(this)"] {
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner-border-sm {
  display: none;
  margin-right: 8px; }

.spinner-border-sm.fetching {
  display: block; }

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  box-sizing: border-box; }

main {
  margin-left: 360px; }
  main > div {
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
    main > div .date-time {
      margin-top: 12px;
      display: flex;
      justify-content: end;
      align-items: center;
      height: 36px; }
      main > div .date-time span {
        font-weight: 500; }
    main > div .container {
      margin-top: 12px;
      padding-right: 0;
      padding-left: 0; }
      main > div .container .request-into-room {
        margin-left: 12px;
        background-color: var(--bg-blur);
        border-radius: 8px;
        overflow: auto;
        height: 580px; }
        main > div .container .request-into-room div {
          text-align: center;
          margin-top: 12px; }
        main > div .container .request-into-room ul {
          margin: 0;
          padding: 0; }
          main > div .container .request-into-room ul li {
            margin: 12px 0 12px 0;
            list-style: none;
            background-color: var(--bg-blur-strong);
            border-radius: 8px;
            padding: 8px 12px 4px 12px; }
            main > div .container .request-into-room ul li div {
              display: flex;
              border-top: 1px solid var(--border-color);
              padding-top: 4px;
              margin-top: 4px;
              margin-bottom: 4px; }
              main > div .container .request-into-room ul li div button {
                background-color: transparent;
                color: var(--color-text-dark);
                border: none;
                flex: 1;
                border-radius: 4px; }
              main > div .container .request-into-room ul li div button:hover {
                background-color: var(--bg-blur-strong);
                color: var(--color-primary); }

@media screen and (max-width: 992px) {
  main {
    margin-left: 270px; } }

@media screen and (max-width: 420px) {
  h2 {
    font-size: 18px; }
  h4 {
    font-size: 16px; }
  main {
    margin-left: 0; }
    main > div {
      margin-left: 8px;
      margin-right: 8px; }
      main > div .date-time {
        height: 32px; } }

/*# sourceMappingURL=manage.css.map */