<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .not-true-member {
            background-color: rgb(204, 9, 9);
            display: none;
            font-family: 'Open Sans', sans-serif;
            user-select: none;
        }
        .cl-while {
            color: #fff;
        }
        .animation-appear {
            display: block;
            animation: appear-notify 3s linear forwards;
        }
        #note-member {
            display: block;
            width: 100%;
        }
        label {
            font-weight: 500;
        }
        @keyframes appear-notify {
            0% {
                transform: translateY(-41px);
                opacity: 0;
            }
            10% {
                transform: translateY(0);
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                display: none;
            }
        }
        button.login {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button.login > span {
          display: none;
          margin-right: 12px;
        }
        button.login.fetching > span {
          display: flex;
        }
        button.find-room {
          height: max-content;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button.find-room > span {
          margin-right: 12px;
          display: none;
        }
        button.find-room.fetching > span {
          display: flex;
        }
        button.find-room + ul {
          margin-left: 24px;
          padding: 0;
          display: flex;
          flex-direction: column;
          background-color: #0d6efd;
          border-radius: 8px;
          color: #fff;
          width: max-content;
        }
        button.find-room + ul > span {
          margin-left: 12px;
        }
        button.find-room + ul > li {
          margin: 4px 0 4px 0;
          display : flex;
          align-items : center;
          justify-content: space-between;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 4px 8px 4px 8px;
        }
        button.find-room + ul > li > i {
          margin-left: 18px;
          font-size: 24px;
          cursor: pointer;
        }
        .confirm-send-request {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .confirm-send-request > span {
          display: none;
          margin-right: 12px;
        }
        .confirm-send-request.fetching > span {
          display: flex;
        }
    </style>
</head>
<body>
    <div class="not-true-member position-fixed w-100 text-center cl-while">
        <h3>Tài khoản mật khẩu không chính xác!</h1>
    </div>
    <form class="me-5 ms-5 d-flex flex-column justify-content-center">
        <div class="mb-3">
          <label for="account" class="form-label">Tài khoản:</label>
          <input type="text" class="form-control" id="account" name="account">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mật khẩu:</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
          <label for="create-room" class="form-label">Tạo phòng:</label>
          <input type="text" class="form-control" id="create-room" name="createRoom" placeholder="Nhập tên phòng bạn muốn tạo">
        </div>
        <div class="mb-3">
          <label for="endcode-room" class="form-label">Mã phòng(Gửi yêu cầu vào phòng nếu bạn chưa được chủ phòng cho phép):</label>
          <input type="text" class="form-control" id="endcode-room" name="endcodeRoom" placeholder="Nhập mã phòng bạn muốn vào!!">
        </div>
        <div class="mb-3 find-room-cover" style="display: flex;">
          <button type="button" class="btn btn-primary find-room">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Tìm phòng của bạn
          </button>
          <ul>
            
          </ul>
        </div>
        <button type="submit" class="btn btn-primary login">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Đăng Nhập
        </button>
    </form>
    <div style="margin-top: 24px; text-align: center" class="mx-5">
        <span style="display: block;">Bạn chưa có tài khoản??? Đăng ký ngay!</span>
        <a style="text-decoration: none; color: #fff; width: 100%" href="./sign-up"><button style="width: 100%" type="button" class="btn btn-primary">Đăng ký</button></a>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Yêu cầu vào phòng</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label for="message-for-host">Gửi tin nhắn cho chủ phòng</label>
              <textarea name="message-for-host" id="message-for-host" style="width: 100%; display: block;" rows="2"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary cancel-send" data-bs-dismiss="modal">Hủy</button>
              <button type="button" class="btn btn-primary confirm-send-request">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Đồng ý
              </button>
            </div>
          </div>
        </div>
      </div>
    <button style="display: none;" type="button" class="btn btn-primary send-request-to-room" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="../public/assest/js/login.js"></script>
</body>
</html>