<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <style>
        .not-true-member {
            background-color: rgb(204, 9, 9);
            display: none;
            font-family: 'Open Sans', sans-serif;
            user-select: none;
        }
        .cl-while {
            color: #fff;
        }
        .animation-appear {
            display: block;
            animation: appear-notify 3s linear forwards;
        }
        @keyframes appear-notify {
            0% {
                transform: translateY(-41px);
                opacity: 0;
            }
            10% {
                transform: translateY(0);
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="not-true-member position-fixed w-100 text-center cl-while">
        <h3>Tài khoản mật khẩu không chính xác!</h1>
    </div>
    <form class="me-5 ms-5 d-flex flex-column justify-content-center">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Account</label>
          <input type="text" class="form-control" id="account" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Đăng Nhập</button>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="../public/assest/js/login.js"></script>
</body>
</html>