<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nạp tiền</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Edu+NSW+ACT+Foundation:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/assest/css/recharge.css">
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    <%- include('../partials/confirmTable.ejs') %>
    <header>
        <div class="d-flex align-items-center">
            <div id="bars-for-mobile" class="close">
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="bur-for-mobile"></div>
                <ul id="nav-for-mobile">
                    <div>
                        <div class="title">
                            <span></span>
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <li class="home-mobile">
                            <span></span>
                            <a href="/">
                                <i class="fa-solid fa-house"></i>
                                <span>Trang Chủ</span>
                            </a>
                        </li>
                        <li class="recharge-money-mobile running-page">
                            <span></span>
                            <a href="/recharge-money">
                                <i class="fa-solid fa-piggy-bank"></i>
                                <span>Nạp Tiền</span>
                            </a>
                        </li>
                        <li class="purchase-mobile">
                            <span></span>
                            <a href="/purchase">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Lịch Sử Mua Hàng</span>
                            </a>
                        </li>
                        <li class="manage-mobile">
                            <span></span>
                            <a href="/manage">
                                <i class="fa-solid fa-gear"></i>
                                <span>Quản lý hoạt động phòng <br> (For Host)</span>
                            </a>
                        </li>
                        <li class="infor-member-mobile">
                            <span></span>
                            <a href="/information-member">
                                <i class="fa-solid fa-user"></i>
                                <span>Thay Đổi Thông Tin</span>
                            </a>
                        </li>
                        <li class="guide-mobile">
                            <span></span>
                            <a href="/guide">
                                <i class="fa-solid fa-book"></i>
                                <span>Hướng dẫn sử dụng</span>
                            </a>
                        </li>
                    </div>
                    <div class="no-selection logout">
                        <a href="/login">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Log Out</span>
                        </a>
                    </div>
                </ul>
            </div>
            <div id="pages">
                <h1 class="d-flex justify-content-center align-items-center">
                    Nạp tiền
                </h1>
            </div>
            <%- include('../partials/header.ejs'); %>
        </div>
    </header>
    <main>
        <div>
            <div class="date-time">
                <span class="fs-20"></span>
            </div>
            <%- include('../partials/mainRecharge.ejs'); %>
        </div>
    </main>
    <script>
        const rechargeNavElement = document.querySelector('#menu > .recharge-money')
        rechargeNavElement.classList.add('running-page')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./public/assest/js/subpages/lightOrDark.js"></script>
    <script src="./public/assest/js/subpages/getInforMember.js"></script>
    <script src="./public/assest/js/subpages/getHistory.js"></script>
    <script src="./public/assest/js/recharge.js"></script>
</body>
</html>